body {
    font-family: Arial, sans-serif;
    background-color: #ffe6e6; /* Light red background */
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    padding: 50px;
}

h1 {
    color: #cc0000; /* Dark red color */
    font-size: 36px;
    margin-bottom: 20px;
    animation: fadeIn 2s ease-in-out;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    animation: fadeIn 2s ease-in-out;
}

p, ol {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
    animation: fadeIn 2s ease-in-out;
}

a {
    color: #cc0000; /* Dark red color */
    text-decoration: none;
    font-weight: bold;
    animation: fadeIn 2s ease-in-out;
}

a:hover {
    text-decoration: underline;
}

footer {
    margin-top: 50px;
    font-size: 14px;
    color: #999;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
    text-align: left;
    display: inline-block;
    width: calc(33% - 40px);
}

.card h2 {
    color: #cc0000;
}

.card p {
    color: #333;
}
